<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      Produits
    </h1>
      <div class="btn-group ">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-plus"></i> &nbsp;
          Produit
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" routerLink="/lunette/solaire/create">
           Lunette solaire
          </a>
          <a class="dropdown-item" routerLink="/monture/create">
             Monture
          </a>
          <a class="dropdown-item" routerLink="/verre/create">Verre</a>
        </div>
      </div>
  </div>