<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Fournisseurs</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
      <a class="btn btn-sm btn-primary" routerLink="/fournisseurs/create" role="button">
        <i class="fas fa-plus"></i> &nbsp;
        Ajouter
      </a>
    </div>
</div>

<div class="row">
     <div class="col-sm-12">
       
            <div class="table-responsive ">
                <table class="table table-bordered">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Raison social</th>
                      <th scope="col">Téléphone</th>
                      <th scope="col">Fax</th>
                      <th scope="col">E-mail</th>
                      <th scope="col">ICE</th>
                      <th scope="col">Adresse</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let fr of fournisseurs">
                        <td>{{fr.raison_social}}</td>
                        <td>{{fr.tel}}</td>
                        <td>{{fr.fax}}</td>
                        <td>{{fr.email}}</td>
                        <td>{{fr.ice}}</td>
                        <td>{{fr.adress}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
         
     </div>
</div>
