  <div class="d-flex justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="msg_erreur">
            <label>
              <h5>{{error}}</h5>
            </label>
          </div>
          <img class="mb-4" src="assets/tof_login.png" alt="" width="120" height="120">
          <form [formGroup]="loginForm" (ngSubmit)="onSignIn()">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"></span>
              </div>
              <input class="form-control" type="text" formControlName="username"
               placeholder="Login" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Login obligatoire</div>
              </div>
            </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Mot de passe</span>
                </div>
                <input class="form-control" type="password" formControlName="pass"
                 placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.pass.errors }">

                 <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
                  <div *ngIf="f.pass.errors.required">Mot de passe obligatoire</div>
                </div>

              </div>

             <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
               Se connecter
              </button>
          </form> 
        </div>
      </div>
    </div>


