.container {
  text-align: center;
  box-shadow: 12px 10px 90px gray;
  margin-top:6%;
  color: blue;
  }
.msg_erreur
{
  color: red;
}
@media (min-width: 320px) {
  .container
  {
      width:80%;
      height: auto;
  }
}
@media (min-width: 767px) {
    .container {
    width: 50%;
    height: auto;
    }
  }
  @media (min-width: 979px) {
    .container {
    width: 40%;
    height: auto;

    }
  }
  @media (min-width: 1199px) {
    .container {
    width: 30%;
    height: auto;
    
    }
  }

  