
<h2 class="text-center text-dark mb-4">Mise à jour Client</h2>

<div class="container">
  <div class="border border-secondary rounded mb-1 bg-light">
  <form>
        <h5 class="text-secondary">Recherche</h5>
    <div class="form-row ">
      <div class="form-group col-md-1"> 
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" id="idR"  placeholder="ID Client" >
      </div>
      <div class="form-group col-md-2">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dateD" [(ngModel)]="dateD" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><img src="assets/calendar.png" height="25" width="30" alt=""></button>
          </div>
        </div>
      </div>

      <div class="form-group col-md-2">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dateF" [(ngModel)]="dateF" ngbDatepicker #f="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="f.toggle()" type="button"><img src="assets/calendar.png" height="25" width=30 alt=""></button>
          </div>
        </div>
      </div>
      <div class="form-group col-md-2">
        <button  class="btn btn-outline-primary btn-sm" (click)="recherchGlobalTS()"><img src="assets/rechercherClient.jpg" height="20" width="20" alt="">Rechercher</button>
      </div>
    </div>
  </form>
</div>

<div class="border border-secondary rounded mb-1  bg-light">
  <form  [formGroup]="clientForm" (ngSubmit)="enregestrerClientTS()">
        <h5 class="text-secondary">Détaills</h5>
    <div class="form-row ">
      <div class="form-group col-md-1"> 
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="idF"   placeholder="ID Client" [(ngModel)]="id" >
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="nameF" [(ngModel)]="name" placeholder="Nom">
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="prenomF" [(ngModel)]="prenom" placeholder="Prénom">
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="cinF" [(ngModel)]="cin" placeholder="CIN">
      </div>
      <div class="form-group col-md-2">
        <select class="form-control"  formControlName="sexeF" [(ngModel)]="sexe">
          <option></option>
          <option>male</option>
          <option>femelle</option>
        </select>
      </div>
    </div>
    <div class="form-row ">
      <div class="form-group col-md-1"> 
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" formControlName="addresseF" [(ngModel)]="addresse" placeholder="Addresse" >
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="villeF" [(ngModel)]="ville" placeholder="Ville" >
      </div>
      <div class="form-group col-md-3">
        <input type="email" class="form-control" formControlName="emailF" [(ngModel)]="email" placeholder="Email">
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="numeroTelF" [(ngModel)]="numeroTel" placeholder="N° Téléphone">
      </div>
    </div>
    <div class="form-row ">
      <div class="form-group col-md-1"> 
      </div>
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-outline-primary btn-sm" [disabled]="!clientForm.valid"><img src="assets/save.png" height="20" width="20" alt="">Enregistrer</button>
      </div>
  </div>
  </form>
  <div class="deux_button">
    <button type="submit" class="btn btn-outline-primary mr-sm-2" (click)="clear()">Clear</button>
    <button type="submit" class="btn btn-outline-primary my-2 my-sm-0" (click)="ajouterOeilLentille()">Ajouter L'oeil-lentille</button>
  </div>
</div>

<div *ngIf="oeil_lentille"class="border border-secondary rounded mb-1  bg-light">
  <form [formGroup]="lentilleOeilForm" >
        <h5 class="text-secondary">Lunette/Lentille/Monture</h5>
        <div class="form-row ">
          <div class="form-group col-md-2">
            <input type="text" class="form-control" formControlName="idF"   placeholder="ID Client" [(ngModel)]="id" readonly>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" (change)="typeLunetteLentille()" formControlName="typeCorF" [(ngModel)]="typeCor">
              <option>Lunette</option>
              <option>Lentille</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <h4>Lunette : D:{{ Prix_D }} G:{{ Prix_G }}</h4>
          </div>
          <div class="form-group col-md-2">
            <h4>Monture : {{ PrixMont }}</h4>
          </div>
          <div class="form-group col-md-3">
            <h4>Lentille : D:{{ Prix_L_D }} G:{{ Prix_L_G }}</h4>
          </div>
        </div>
  <div *ngIf="activeLunette">
    <div class="form-row ">   
      <div class="form-group col-md-1"> 
      </div>
      <div class="form-group col-md-1">
        <h5 class="text-secondary">Oeil Droite:</h5>
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="sphF_D" [(ngModel)]="sph_D" placeholder="Sph">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="cylF_D" [(ngModel)]="cyl_D" placeholder="Cyl">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="axeF_D" [(ngModel)]="axe_D" placeholder="axe">
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="V_LoinF_D"   placeholder="Vision de loin" [(ngModel)]="V_Loin_D" >
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="V_presF_D" [(ngModel)]="V_pres_D" placeholder="Vision de pres">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="natureF_D" [(ngModel)]="nature_D" placeholder="Nature">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="PrixF_D" [(ngModel)]="Prix_D" placeholder="Prix">
      </div>
    </div>
    <div class="form-row ">   
      <div class="form-group col-md-1"> 
      </div>
      <div class="form-group col-md-1">
        <h5 class="text-secondary">Oeil Gauche:</h5>
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="sphF_G" [(ngModel)]="sph_G" placeholder="Sph">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="cylF_G" [(ngModel)]="cyl_G" placeholder="Cyl">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="axeF_G" [(ngModel)]="axe_G" placeholder="axe">
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="V_LoinF_G"   placeholder="Vision de loin" [(ngModel)]="V_Loin_G" >
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="V_presF_G" [(ngModel)]="V_pres_G" placeholder="Vision de pres">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="natureF_G" [(ngModel)]="nature_G" placeholder="Nature">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="PrixF_G" [(ngModel)]="Prix_G" placeholder="Prix">
      </div>
    </div>
    <div class="form-row ">
      <div class="form-group col-md-1"> 
      </div>
      <div class="form-group col-md-1">
        <h5 class="text-secondary">Monture:</h5>
      </div>
      <div class="form-group col-md-2">
        <select class="form-control"  formControlName="typeMontureF" [(ngModel)]="typeMonture">
          <option>Plastique femme</option>
          <option>Metalique homme</option>
        </select>
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="QuntMontF" [(ngModel)]="QuntMont" placeholder="Qte">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="PrixMontF" [(ngModel)]="PrixMont" placeholder="Prix">
      </div>
    </div>
    <div class="form-row ">
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="VersementF" [(ngModel)]="Versement" placeholder="Versement">
      </div>
        <div class="form-group col-md-1">
          <input type="text" class="form-control" formControlName="PrixTotalF" [(ngModel)]="PrixTotal" placeholder="Prix Total">
        </div>
          <div class="form-group col-md-1">
            <input type="text" class="form-control" formControlName="RestF" [(ngModel)]="Rest" placeholder="le rest">
          </div>
      </div>
  </div>
  
  <div *ngIf="activeLentille">
    <div class="form-row ">   
      <div class="form-group col-md-1"> 
      </div>
      <div class="form-group col-md-1">
        <h5 class="text-secondary">Oeil Droite:</h5>
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="sphF_L_D" [(ngModel)]="sph_L_D" placeholder="Sph">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="cylF_L_D" [(ngModel)]="cyl_L_D" placeholder="Cyl">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="axeF_L_D" [(ngModel)]="axe_L_D" placeholder="axe">
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="V_LoinF_L_D"   placeholder="Vision de loin" [(ngModel)]="V_Loin_L_D" >
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="V_presF_L_D" [(ngModel)]="V_pres_L_D" placeholder="Vision de pres">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="natureF_L_D" [(ngModel)]="nature_L_D" placeholder="Nature">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="PrixF_L_D" [(ngModel)]="Prix_L_D" placeholder="Prix">
      </div>
    </div>
    <div class="form-row ">   
      <div class="form-group col-md-1"> 
      </div>
      <div class="form-group col-md-1">
        <h5 class="text-secondary">Oeil Gauche:</h5>
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="sphF_L_G" [(ngModel)]="sph_L_G" placeholder="Sph">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="cylF_L_G" [(ngModel)]="cyl_L_G" placeholder="Cyl">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="axeF_L_G" [(ngModel)]="axe_L_G" placeholder="axe">
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="V_LoinF_L_G"   placeholder="Vision de loin" [(ngModel)]="V_Loin_L_G" >
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="V_presF_L_G" [(ngModel)]="V_pres_L_G" placeholder="Vision de pres">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="natureF_L_G" [(ngModel)]="nature_L_G" placeholder="Nature">
      </div>
      <div class="form-group col-md-1">
        <input type="text" class="form-control" formControlName="PrixF_L_G" [(ngModel)]="Prix_L_G" placeholder="Prix">
      </div>
    </div>
  </div>
    <div class="form-row ">
      <div class="form-group col-md-1"> 
      </div>
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-outline-primary btn-sm" [disabled]="!lentilleOeilForm.valid"><img src="assets/save.png" height="20" width="20" alt="">Enregistrer</button>
      </div>
  </div>
  </form>
</div>
</div>

<div class="border border-secondary rounded-lg mt-4 mr-2 ml-2  bg-light">
<table class="table table-striped">
  <thead>
    <tr >
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">CIN</th>
      <th scope="col">Ville</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
      <th scope="col"></th>
      
    </tr >
  </thead >
  <tbody>
<tr scope="row" *ngFor="let client of clients;let i=index">
  <td>
    {{ client.id }}
  </td>
  <td >
    {{ client.name }}
  </td>
  <td>
    {{ client.prenom }}
  </td>
  <td>
    {{ client.cin }}
  </td>
  <td>
    {{ client.ville }}
  </td>
  <td>
    {{ client.email }}
  </td>
  <td>
    <img src="assets/detailsClient.png" (click)="rechercherClientByIdTS(client.id)" alt=""  width="30">
  </td>
  <td>
    <img src="assets/supprimer.png" (click)="supprimerclientTS(i)" alt=""  width="30">
  </td>
</tr>
</tbody>
</table>
</div>