<h2 class="text-center text-primary mb-4">Mise à jour Client</h2>

<div class="container">
  <div class="border border-secondary rounded mb-1">
  <form>
        <h5 class="text-secondary">Recherche</h5>
    <div class="form-row ">
      <div class="form-group col-md-1"> 
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control"   placeholder="ID Client" >
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control"   placeholder="Date Début">
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control"   placeholder="Date Fin">
      </div>
    </div>
  </form>
</div>

<div class="border border-secondary rounded mb-1">
  <form  [formGroup]="clientForm" (ngSubmit)="enregestrerClientTS()">
        <h5 class="text-secondary">Détaills</h5>
    <div class="form-row ">
      <div class="form-group col-md-1"> 
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="idF"   placeholder="ID Client" [(ngModel)]="id" readonly>
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="nameF" [(ngModel)]="name" placeholder="Nom">
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="prenomF" [(ngModel)]="prenom" placeholder="Prénom">
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="cinF" [(ngModel)]="cin" placeholder="CIN">
      </div>
      <div class="form-group col-md-2">
        <select class="form-control"  formControlName="sexeF" [(ngModel)]="sexe">
          <option></option>
          <option>male</option>
          <option>femelle</option>
        </select>
      </div>
    </div>
    <div class="form-row ">
      <div class="form-group col-md-1"> 
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" formControlName="addresseF" [(ngModel)]="addresse" placeholder="Addresse" >
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="villeF" [(ngModel)]="ville" placeholder="Ville" >
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" formControlName="emailF" [(ngModel)]="email" placeholder="Email">
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" formControlName="numeroTelF" [(ngModel)]="numeroTel" placeholder="N° Téléphone">
      </div>
    </div>
    <div class="form-row ">
      <div class="form-group col-md-1"> 
      </div>
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-outline-primary btn-sm" [disabled]="!clientForm.valid"><img src="assets/save.png" height="20" width="20" alt="">Enregistrer</button>
      </div>
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-outline-primary btn-sm" ><img src="assets/rechercherClient.jpg" height="20" width="20" alt="">Rechercher</button>
      </div>
  </div>
  </form>
</div>
</div>
<div class="border border-secondary rounded-lg mt-4 mr-2 ml-2">
<table class="table table-striped">
  <thead>
    <tr >
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">CIN</th>
      <th scope="col">Ville</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
      <th scope="col"></th>
      
    </tr >
  </thead >
  <tbody>
<tr scope="row" *ngFor="let client of clients;let i=index">
  <td>
    {{ client.id }}
  </td>
  <td >
    {{ client.name }}
  </td>
  <td>
    {{ client.prenom }}
  </td>
  <td>
    {{ client.cin }}
  </td>
  <td>
    {{ client.ville }}
  </td>
  <td>
    {{ client.email }}
  </td>
  <td>
    <img src="assets/detailsClient.png" (click)="rechercherClientByIdTS(client.id)" alt=""  width="30">
  </td>
  <td>
    <img src="assets/supprimer.png" (click)="supprimerclientTS(i)" alt=""  width="30">
  </td>
</tr>
</tbody>
</table>
</div>
