<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      Factures
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a class="btn btn-sm btn-primary" routerLink="/factures/create" role="button">
          <i class="fas fa-plus"></i> &nbsp;
          Nouvelle facture
        </a>
      </div>
  </div>
  
  <div class="row">
       <div class="col-sm-12">
         
              <div class="table-responsive ">
                  <table class="table table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th>N° Facture</th>
                        <th scope="col">Date</th>
                        <th scope="col">Client</th>
                        <th scope="col"></th>
                        <th scope="col">Téléphone</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
              </div>
           
       </div>
  </div>
  