<div class="row justify-content-center">
    <div class="col-sm-12 mt-4">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title mb-3"> <i class="fas fa-pen-square"></i> &nbsp; Nouveau fournisseur</h6>

          
          <form [formGroup]="newFournisseurBuilder" (ngSubmit)="createHandler()">
            
              <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label" for="rs">
                    Raison social
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="rs" formControlName="raison_social">
                    <small class="text-danger" *ngIf="field('raison_social').touched && field('raison_social').invalid"> Raison social est obligatoire</small>
               </div>
              </div>

              <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label" for="tel">
                    Téléphone
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="tel" formControlName="tel">
                     <small class="text-danger" *ngIf="field('tel').touched && field('tel').invalid">Numéro de téléphone invalid</small>
                </div>
               
              </div>

              <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label" for="fax">
                    Fax
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="fax" formControlName="fax">
                    <small class="text-danger"  *ngIf="field('fax').touched && field('fax').invalid">Numéro de fax invalid</small>

                </div>
               
              </div>
            
              <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label" for="email">
                    Email
                </label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="email" formControlName="email">
                 <small class="text-danger"   *ngIf="field('email').touched && field('email').invalid">Email invalid</small>
                </div>
               
              </div>

              <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label" for="ice">
                    ICE
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="ice" formControlName="ice">
                    <small class="text-danger" *ngIf="field('ice').touched && field('ice').invalid">ICE invalid</small>

                </div>
               
              </div>


              <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label" for="adresse">
                    Adresse
                </label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="adresse" formControlName="adress"></textarea>
                 <small class="text-danger" *ngIf="field('adress').touched && field('adress').invalid">Adresse Invalide</small>  
                </div>
               
              </div>

              <div class="form-group row justify-content-center">
                  <div class="col-sm-10">
                      <a role="button" routerLink='/fournisseurs' class="btn btn-secondary float-left" >Retour</a>

                    <button class="btn btn-success float-right" [disabled]="newFournisseurBuilder.invalid">Créer</button>
                  </div>
                
            </div>

             
          </form>
        </div>
      </div>
    </div>
  </div>
