<div class="row justify-content-center">

    <div class="col-sm-12 col-md-6 mt-4">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title mb-3"> <i class="fas fa-pen-square"></i> &nbsp; Client #{{field('idClt').value}}</h6>

          
          <form [formGroup]="editClientBuilder" (ngSubmit)="editHandler()">
            
              <div class="form-group row justify-content-center">
                <label class="col-sm-3 col-form-label" for="nom">
                    Nom
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="nom" formControlName="nom" [ngClass]="{ 'is-invalid':field('nom').touched && field('nom').invalid}">
                    <div class="invalid-feedback" *ngIf="field('nom').touched && field('nom').invalid"> Nom est obligatoire</div>
               </div>
              </div>

              <div class="form-group row justify-content-center">
                <label class="col-sm-3 col-form-label" for="prenom">
                    Prenom
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="prenom" formControlName="prenom" [ngClass]="{ 'is-invalid':field('prenom').touched && field('prenom').invalid}">
                    <div class="invalid-feedback" *ngIf="field('prenom').touched && field('prenom').invalid"> Prenom est obligatoire</div>
               </div>
              </div>

              <div class="form-group row justify-content-center">
                <label class="col-sm-3 col-form-label" for="numero">
                    Cin
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="numero" formControlName="numero" [ngClass]="{ 'is-invalid':field('numero').touched && field('numero').invalid}">
                    <div class="invalid-feedback" *ngIf="field('numero').touched && field('numero').invalid"> CIN obligatoire</div>
               </div>
              </div>

              <div class="form-group row justify-content-center">
                <label class="col-sm-3 col-form-label" for="telephone">
                    Téléphone
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="telephone" formControlName="telephone" [ngClass]="{ 'is-invalid':field('telephone').touched && field('telephone').invalid}">
                     <div class="invalid-feedback" *ngIf="field('telephone').touched && field('telephone').invalid">Numéro de téléphone invalid</div>
                </div>
               
              </div>

            
              <div class="form-group row justify-content-center">
                <label class="col-sm-3 col-form-label" for="email">
                    Email
                </label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid':field('email').invalid}">
                 <div class="invalid-feedback"   *ngIf="field('email').touched && field('email').invalid">Email invalid</div>
                </div>
               
              </div>

              <div class="form-group row justify-content-center">
                <label class="col-sm-3 col-form-label" for="mutuelle">
                    N° Mutuelle
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="mutuelle" formControlName="mutuelle" [ngClass]="{ 'is-invalid':field('mutuelle').invalid}">
                    <div class="invalid-feedback" *ngIf="field('mutuelle').touched && field('mutuelle').invalid">N° Mutuelle invalid</div>

                </div>
               
              </div>


              <div class="form-group row justify-content-center">
                <label class="col-sm-3 col-form-label" for="addresse">
                    Adresse
                </label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="addresse" formControlName="addresse" [ngClass]="{ 'is-invalid':field('addresse').invalid}"></textarea>
                 <div class="invalid-feedback" *ngIf="field('addresse').touched && field('addresse').invalid">Adresse trop longue</div>  
                </div>
               
              </div>

              <div class="form-group row justify-content-center">
                <label class="col-sm-3 col-form-label" for="remarque">
                    Remarque
                </label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="remarque" formControlName="remarque" [ngClass]="{ 'is-invalid':field('remarque').invalid}"></textarea>
                 <div class="invalid-feedback" *ngIf="field('remarque').touched && field('remarque').invalid">Remarque trop longue</div>  
                </div>
               
              </div>

              <div class="form-group row ">
                  <div class="col-sm-12">
                      <a role="button" routerLink='/clients' class="btn btn-secondary float-left" >Retour</a>

                    <button class="btn btn-success float-right" [disabled]="!editClientBuilder.dirty">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Enregistrer
                    </button>
                  </div>
                
            </div>

             
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 mt-4">
        <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">Title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">Title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
  </div>
