@media (max-width: 900px) {
    .container {
      width: auto;
    }
}
.container {
 display: block;
}
 .nav-link.active {
    color:black;
    background-color: rgb(243, 239, 239);
    border-radius: 6px;
    font-size: x-large;
    font-style: italic;
    font-family: cursive;
}
 .nav-link {
  color:white;
  font-size: x-large;
  font-style: italic;
  font-family: cursive;
  
}
.d-flex
{
  border-radius: 12px;
}
.nav-item
{
  color: black;
}
