
<!--<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLinkActive="active" routerLink="auth">Authentification</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  data-toggle="tab"routerLinkActive="active" routerLink="client">Clients</a>
  </li>
  <li  class="nav-item" >
    <a class="nav-link"   data-toggle="tab" routerLinkActive="active" routerLink="fournisseur">Fournisseur</a>
  </li>
</ul>-->

<div class="d-flex bd-highlight p-1 mt-2 mb-5 mr-2 ml-2 bg-primary rounded">
  <div class="p-1 bd-highlight"><a class="nav-link"  routerLinkActive="active" routerLink="fournisseur">Fournisseur</a></div>
  <div class="mr-auto p-1 bd-highlight"><a class="nav-link" routerLinkActive="active" routerLink="client">Clients</a></div>
  <div class="p-1 bd-highlight"><a class="nav-link "  routerLinkActive="active" routerLink="auth">Authentification:{{ secondes }}</a></div>
</div>

<!--<div class="card p-1 mt-2 mb-5 mr-2 ml-2 bg-primary rounded ">
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link " data-toggle="pill"  routerLinkActive="active" routerLink="auth">Authentification</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  data-toggle="pill" routerLinkActive="active" routerLink="client">Clients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  data-toggle="pill"  routerLinkActive="active" routerLink="fournisseur">Fournisseur</a>
  </li>
</ul>
</div>-->
<div >
<router-outlet ></router-outlet>
</div>


