<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <a class="navbar-brand" routerLink="auth">Authentification <span class="glyphicon glyphicon-user pull-right"></span></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="client">Clients</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="fournisseur">Fournisseur</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet ></router-outlet>
