

<div class="d-flex bd-highlight p-1 mt-2 mb-2 mr-2 ml-2 bg-primary rounded">
  <div class="p-1 bd-highlight"><a class="nav-link"  routerLinkActive="active" routerLink="fournisseur">Fournisseur</a></div>
  <div class="mr-auto p-1 bd-highlight"><a class="nav-link" routerLinkActive="active" routerLink="client">Clients</a></div>
  <div class="p-1 bd-highlight"><a class="nav-link"  routerLinkActive="active" routerLink="auth">Authentification</a></div>
</div>
<div >
<router-outlet ></router-outlet>
</div>


